<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note It</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="public\stylesheets\output.css">
    <link rel="stylesheet" href="public\stylesheets\style.css">
</head>
<body>
    <header class="">
        <nav>
            <a href="#" class="">NiggerOnSale</a>
            <input type="checkbox" id="toggle" class="toggle-btn">
            <label for="toggle" class="toggle-btn">&#9776;</label>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#"></a></li>
              <li><a href="#" class="nav-btn register-link">Register</a></li>
              <li><button class="logout-btn" style="display: none;">Logout</button></li>
              <!-- <li><a href="#" class="nav-btn">Login</a></li> -->
            </ul>
          </nav>
    </header>

    <footer>
        <div class="website-name">NiggerOnSale</div>
        <div class="footer-content">
          <div class="footer-links-container">
            <ul class="footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </div>
        </div>
        <ul class="social-links">
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <a href="/logout">Logout</a>
        <p>&copy; 2024 NiggerOnSale. All rights reserved.</p>
        <!-- <p>~Made By Dip</p> -->
      </footer>
</body>
</html>